/* No files to import found in abstractions/**\/* */
/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%;
}

/* line 5, ../sass/panelitist.styles.sass */
.l-page {
  margin: 0 auto;
  max-width: 1200px;
}

/* line 9, ../sass/panelitist.styles.sass */
p {
  margin: 0 0 1em 0;
}
