@media all and (max-width: 800px) {
  /* line 3, ../sass/panelitist.hacks.scss */
  #toolbar, #admin-menu {
    display: none;
  }

  /* line 8, ../sass/panelitist.hacks.scss */
  html body.toolbar, html body.admin-menu {
    padding-top: 0 !important;
    margin-top: 0 !important;
  }
}
