/*! normalize.css v1.1.0 | MIT License | git.io/normalize */
/*! normalize.css v1.1.0 | HTML5 Display Definitions | MIT License | git.io/normalize */
/* line 20, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_html5.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 28, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_html5.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 39, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_html5.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 46, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_html5.scss */
[hidden] {
  display: none;
}

/*! normalize.css v1.1.0 | Base | MIT License | git.io/normalize */
/* line 13, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_base.scss */
html {
  font-size: 100%;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 30, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_base.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 37, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_base.scss */
body {
  margin: 0;
}

/*! normalize.css v1.1.0 | Links | MIT License | git.io/normalize */
/* line 9, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_links.scss */
a:focus {
  outline: thin dotted;
}

/* line 16, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_links.scss */
a:active,
a:hover {
  outline: 0;
}

/*! normalize.css v1.1.0 | Typography | MIT License | git.io/normalize */
/* line 13, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_typography.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 19, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_typography.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 24, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_typography.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 29, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_typography.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 34, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_typography.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 39, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_typography.scss */
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

/* line 47, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_typography.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 54, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_typography.scss */
b,
strong {
  font-weight: bold;
}

/* line 59, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_typography.scss */
blockquote {
  margin: 1em 40px;
}

/* line 66, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_typography.scss */
dfn {
  font-style: italic;
}

/* line 73, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_typography.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 81, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_typography.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 90, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_typography.scss */
p,
pre {
  margin: 1em 0;
}

/* line 100, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_typography.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 110, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_typography.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 118, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_typography.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 127, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_typography.scss */
q {
  quotes: none;
}

/* line 132, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_typography.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 140, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_typography.scss */
small {
  font-size: 80%;
}

/* line 147, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_typography.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 154, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_typography.scss */
sup {
  top: -0.5em;
}

/* line 158, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_typography.scss */
sub {
  bottom: -0.25em;
}

/* line 11, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_lists.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 15, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_lists.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 23, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_lists.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/* line 30, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_lists.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/*! normalize.css v1.1.0 | Embedded Content | MIT License | git.io/normalize */
/* line 9, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_embeds.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 18, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_embeds.scss */
svg:not(:root) {
  overflow: hidden;
}

/*! normalize.css v1.1.0 | Figures | MIT License | git.io/normalize */
/* line 9, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_figures.scss */
figure {
  margin: 0;
}

/*! normalize.css v1.1.0 | Forms | MIT License | git.io/normalize */
/* line 10, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_forms.scss */
form {
  margin: 0;
}

/* line 17, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_forms.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 30, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_forms.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* line 49, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_forms.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 63, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_forms.scss */
button,
input {
  line-height: normal;
}

/* line 73, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_forms.scss */
button,
select {
  text-transform: none;
}

/* line 90, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_forms.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

/* line 101, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_forms.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 113, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

/* line 126, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_forms.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 137, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_forms.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 144, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_forms.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 152, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_forms.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/*! normalize.css v1.1.0 | Tables | MIT License | git.io/normalize */
/* line 9, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/compass-normalize-1.4.3/stylesheets/normalize/_tables.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 36, ../../../../../../../.rvm/gems/ruby-1.9.3-p429@omega.panelitist/gems/toolkit-1.3.8/stylesheets/toolkit/_box-sizing.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('../behaviors/box-sizing/boxsizing.php');
}
